/* general general general general general general general general general general general general general general general general*/
html {
    scroll-behavior: smooth;
  }
body {
    font-family: 'Quicksand', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

img {
    max-width: 100%;
    height: auto;
}

section {
    padding: 45px 0 80px 0;
}

section .heading {

    text-align: center;
    padding-bottom: 40px;
}

section .heading h2 {

    text-transform: uppercase;

}

ul,
ol {
    list-style: none;
}

h5 {
    text-align: start;
    padding-left: 10px;
    padding-top: 10px
}

.red-divider {
    width: 100px;
    height: 2px;
    background: rgb(1, 3, 156);
    margin: 0 auto;
}

.white-divider {
    width: 100px;
    height: 2px;
    background: rgb(1, 3, 156);
    margin: 0 auto;
}

/* Menu*/



.navbar {

    font-size: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
    background: rgb(0, 0, 0) !important;
}

.navbar .navbar-nav {
    float: none;
    vertical-align: top;
}


.navbar-collapse {
    text-align: center;
}

.navbar li a {
    color: #fff !important;
}

.navbar li a:hover,
.navbar li.active a {
    color: rgb(0, 0, 0) !important;
    background-color: #fff !important;
    border-radius: 5px;
}



.navbar-toggler-icon {
    background: white;
    border-radius: 5px;
    
}




/* about about about about about about about about about about about about about about about about about about about about about about about about*/

#about {
    padding: 100px;

    background: -webkit-gradient(linear, left top, left bottom, from(rgb(0, 0, 0)), to(rgb(254, 253, 255)));

    background: linear-gradient(rgb(0, 0, 0), rgb(254, 253, 255));
}

.profile-picture {
    text-align: center;
    margin: 0 auto;
    float: none;

}

#about .heading h1 {
    color: #fff;
    margin-top: 20px;
}

#about .heading h3 {

    color: #000000;
}


.button1 {
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid white;
    margin-top: 20px;
    padding: 18px 50px;
    border-radius: 3px;
    display: inline-block;

}

.button1:hover {
    background: rgb(254, 253, 255);
    color: rgb(0, 0, 156);
    text-decoration: none;
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
}


/* skills skills skills skills skills  skills skills skills skills skills  skills skills skills skills skills  skills skills skills skills skills*/

#skills {
    background: rgb(254, 253, 255);

}

#skills .heading h2 {
    color: rgb(1, 3, 156);
    margin-top: 20px;
}

#skills .progress {
    height: 100%;
    margin: 10px 20px;
    background-color: #ddd;
}

#skills .progress-bar {
    background: rgb(1, 3, 156);
}

#skills .progress h5 {
    text-shadow: 1px 1px 1px black;
}



#skills .col-md-6 {
    margin: 30px 0;
}

/* experience experience experience experience experience experience experience experience experience experience experience experience experience experience experience experience experience experience*/
#experience {
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(254, 253, 255)), to(rgb(0, 0, 0)));
    background: linear-gradient(rgb(254, 253, 255), rgb(0, 0, 0))
}

#experience .heading h2 {
    margin-top: 10px;
    color: white;
}

#experience h3 {
    font-size: 2em;
    ;
}

#experience p {
    font-weight: bold;
    font-size: 20px;
}



.timeline {
    padding: 30px 10px;
    position: relative;
}

.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 5px;
    background: #333;
    left: 50%;
    margin-left: -2.5px;
}

.timeline li {
    margin-bottom: 20px;
    position: relative;
}

.timeline>li:after {
    clear: both;

}

.timeline>li:before,
.timeline>li:after {
    content: " ";
    display: table;

}

.timeline li .timeline-badge {

    color: rgb(1, 3, 156)d;
    width: 50px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background: rgb(243, 243, 243);
    border-radius: 50%;
}

.timeline-panel-container {
    width: 50%;
    float: left;
}

.timeline-panel-container-inverted {
    width: 50%;
    float: right;
}

.timeline-panel {
    width: 90%;
    float: right;
    margin-right: 40px;
    border: 1px solid #d4d4d4;
    border-radius: 7px;
    padding: 20px 25px;
    position: relative;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    background: #fff;
}

.timeline-panel-container-inverted .timeline-panel {
    float: left;
    margin-left: 40px;

}


.timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
}

.timeline-panel-container-inverted .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;

}

#experience .heading h2 {
    margin-top: 20px;
    color: rgb(1, 3, 156)
}

.timeline-heading h3 {
    margin-top: 5px;
    font-size: 20px;
}

.timeline-heading h4 {
    color: rgb(1, 3, 156);
}


/* éducation  éducation  éducation  éducation  éducation éducation  éducation  éducation  éducation  éducation éducation  éducation  éducation  éducation  éducation*/

#education {

    background: -webkit-gradient(linear, left top, left bottom, from(rgb(0, 0, 0)), to(rgb(254, 253, 255)));

    background: linear-gradient(rgb(0, 0, 0), rgb(254, 253, 255));
}

#education .fa-graduation-cap {

    color: rgb(1, 3, 156);
}


#education .heading h2 {
    color: rgb(1, 3, 156);
}

.education-block {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 30px;
    background: #fff;
    border-radius: 10px;
    border: 2px solid gray;
    margin-bottom: 20px;
}

.education-block.b1 {
    height: 340px;
}

.education-block.b2 {
    height: 550px;
}

.education-block h4 {
    margin-bottom: 20px;
}

.education-block p {

    font-weight: bold;
}


.education-block h6 {
    font-size: 30px;
}

.education-block .red-divider {

    margin-bottom: 20px;
}

.fa-graduation-cap {
    font-size: 20px;
    margin-bottom: 20px;
}


/* portfolio portfolio portfolio portfolio portfolio portfolio portfolio portfolio portfolio portfolio portfolio portfolio portfolio portfolio*/

#portfolio {
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(254, 253, 255)), to(rgb(0, 0, 0)));
    background: linear-gradient(rgb(254, 253, 255), rgb(0, 0, 0))
}

#portfolio .heading h2 {
    color: rgb(1, 3, 156);
    margin-top: 20px;
}


#portfolio .col-sm-4,
.col-sm-12 {
    margin-top: 20px;
}

/* loisir  loisir loisir loisir  loisir loisir loisir  loisir loisir loisir  loisir loisir loisir  loisir loisir loisir  loisir loisir*/
.br {
    display: none;
}

#hobbies .fa-chevron-left,
.fa-chevron-right {
    color: gray;
    font-size: 30px;
}

#hobbies h3,
h2 {
    text-align: center;
    color: rgb(1, 3, 156);

}

#hobbies h3 {
    font-size: 1.4em;
}

.carousel-item {
    -webkit-transition: opacity .5s ease-out, -webkit-transform 4s ease;
    transition: opacity .5s ease-out, -webkit-transform 4s ease;
    transition: transform 4s ease, opacity .5s ease-out;
    transition: transform 4s ease, opacity .5s ease-out, -webkit-transform 4s ease;
}

.carousel-indicators li {

    border-color: rgb(1, 3, 156);
    width: 10px;
    ;
}

.carousel-indicators li:active {

    border-color: rgb(1, 3, 156);

}




#carouselExampleControls {

    padding: 60px 150px;
}

footer {
    background: rgb(0, 0, 0);
    height: 100px;
}

footer h5 {
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

footer .fa-chevron-circle-up {
    margin-top: 10px;
    font-size: 30px;

}

/*mediaqueries mediaqueries mediaqueries mediaqueries mediaqueries mediaqueries mediaqueries mediaqueries mediaqueries mediaqueries*/
@media screen and (max-width:1024px) {

    #skills h5 {
        font-size: 1.5em
    }

    #education p {
        font-size: 13px;
    }

    #education h4 {
        font-size: 1.2em;
    }
}

@media screen and (max-width:414px) {

    #skills h5 {
        font-size: 1.1em
    }

    #experience h3,
    h4 {
        font-size: 1.1em
    }

    #experience p {
        font-size: 10px
    }

    .education-block.b2 {
        height: auto;
    }

    #hobbies .heading {
        margin: 0;
    }

    #hobbies h3 {
        font-size: 15px;
    }

    .br {
        display: block;
    }

    #carouselExampleControls {

        padding: 40px 60px;
    }

    #hobbies .fa-chevron-left,
    .fa-chevron-right {

        font-size: 15px;
    }

    .carousel-indicators li {
        margin-top: 200px;

        width: 5px;
    }

    .carousel-indicators {

        height: 200px;

    }


}